.body_index{
    background: url(../../assets/img/car_login.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    image-rendering: img-fluid center-block;
}