.ul-s{
    text-align: left;
}
.img-ss{
    width: 400px;
    height: 250px;
}
.marco-ss{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.h-ss{ 
    color: white;
}
.b-ss{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
